{
  "openapi": "3.0.0",
  "info": {
    "description": "Freepik API",
    "title": "Freepik API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "B2B API Production V1",
      "url": "https://api.freepik.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v1/ai/text-to-image": {
      "post": {
        "parameters": [
          {
            "description": "Specifies the search query language using the ISO 639-1 (2-letter\nlanguage code) and the ISO 3166-1 (2-letter country code) for language variants.\nThe API will use \"en-US\" as a default language for processing if a code is not\nprovided, or does not exist.\n",
            "example": "en-US",
            "in": "header",
            "name": "Accept-Language",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "all-params": {
                  "$ref": "#/components/examples/request-tti-all-params"
                },
                "required-params": {
                  "$ref": "#/components/examples/request-tti-required-params"
                },
                "custom-image-size": {
                  "$ref": "#/components/examples/request-tti-custom-image-size"
                },
                "portrait_4_3-image-size": {
                  "$ref": "#/components/examples/request-tti-portrait_4_3-image-size"
                },
                "styling-params": {
                  "$ref": "#/components/examples/request-tti-styling-params"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/request-content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_200_response"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get image from text",
        "tags": [
          "text-to-image"
        ]
      }
    },
    "/v1/authors": {
      "get": {
        "parameters": [
          {
            "description": "Search term. If only term comes, it is searched for term, if only slug comes, it is searched for slug and if both come, it is searched for slug",
            "example": "nature",
            "in": "query",
            "name": "term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number. It must be greater than 0.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Limit results per page. It must be greater than 0.",
            "example": 100,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/200-authors-search"
                  },
                  "success-no-result": {
                    "$ref": "#/components/examples/200-authors-search-empty"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_authors_get_200_response"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Search authors",
        "tags": [
          "Author"
        ]
      }
    },
    "/v1/authors/{author-id}": {
      "get": {
        "parameters": [
          {
            "description": "Author ID",
            "example": 30955,
            "in": "path",
            "name": "author-id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/200-authors-detail"
                  },
                  "null-zero-values": {
                    "$ref": "#/components/examples/200-authors-detail-null-zero-values"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_authors__author_id__get_200_response"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get author info by Id",
        "tags": [
          "Author"
        ]
      }
    },
    "/v1/developers/{email}/plan": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "description": "The email of the user.",
            "example": "example@freepi.com",
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "format": "email",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_developers__email__plan_get_200_response"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get the information about the plan of the developer",
        "tags": [
          "Developers"
        ]
      }
    },
    "/v1/developers/{email}/plan-usage": {
      "get": {
        "parameters": [
          {
            "description": "The email of the user.",
            "example": "example@freepi.com",
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "format": "email",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_developers__email__plan_usage_get_200_response"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get the information about the plan usage of the developer",
        "tags": [
          "Developers"
        ]
      }
    },
    "/v1/download": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "description": "Id of the resource to download",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "example": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Locale domain",
            "example": "en",
            "in": "query",
            "name": "locale",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Image size",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "enum": [
                "normal",
                "hd"
              ],
              "example": "normal",
              "type": "string"
            }
          },
          {
            "description": "Author ID",
            "example": 23,
            "in": "query",
            "name": "filters[author]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Guarantee that the received resource is a Photo. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][photo]",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "description": "Guarantee that the received resource is a PSD. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][psd]",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "description": "Guarantee that the received resource is a Vector. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][vector]",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "download_photo": {
                    "$ref": "#/components/examples/200-download-photo"
                  },
                  "download_vector_or_psd": {
                    "$ref": "#/components/examples/200-download-vector-or-psd"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_download_get_200_response"
                }
              }
            },
            "description": "OK Response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "DEPRECATED Download a resource. Use /v1/resource/{resource-id}/download instead",
        "tags": [
          "Download"
        ]
      }
    },
    "/v1/resources": {
      "get": {
        "parameters": [
          {
            "description": "Specifies the search query language using the ISO 639-1 (2-letter\nlanguage code) and the ISO 3166-1 (2-letter country code) for language variants.\nThe API will use \"en-US\" as a default language for processing if a code is not\nprovided, or does not exist.\n",
            "example": "en-US",
            "in": "header",
            "name": "Accept-Language",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Accept header is used to inform the server by the client that which content \ntype is understandable by the client expressed as MIME-types.\n",
            "example": "application/json",
            "in": "header",
            "name": "Accept",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Content-Type header is used to indicate the media type of the resource. \nThe media type is a string sent along with the file indicating the format of the file.\n",
            "example": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Locale domain",
            "example": "en",
            "in": "query",
            "name": "locale",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number. It must be greater than 0 and less than or equal to 100.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Limit results per page. It must be greater than 0.",
            "example": 100,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Define order of results.",
            "example": "recent",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "relevance",
              "enum": [
                "priority",
                "latest",
                "relevance",
                "recent",
                "random"
              ],
              "type": "string"
            }
          },
          {
            "description": "Search term. If only term comes, it is searched for term, if only slug comes, it is searched for slug and if both come, it is searched for slug",
            "example": "nature",
            "in": "query",
            "name": "term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters[orientation][landscape]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[orientation][portrait]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[orientation][square]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[orientation][panoramic]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[quick-edit]",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "filters[content_type][photo]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[content_type][psd]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[content_type][vector]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[license][freemium]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[license][premium]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[license][essential]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "Filter by included people",
            "example": 1,
            "in": "query",
            "name": "filters[people][include]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "Filter by excluded people",
            "example": 1,
            "in": "query",
            "name": "filters[people][exclude]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "Filter by number of people",
            "example": 2,
            "in": "query",
            "name": "filters[people][number]",
            "schema": {
              "enum": [
                "1",
                "2",
                "3",
                "more_than_three"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by age of the people",
            "example": "child",
            "in": "query",
            "name": "filters[people][age]",
            "schema": {
              "enum": [
                "infant",
                "child",
                "teen",
                "young-adult",
                "adult",
                "senior",
                "elder"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by gender of the people",
            "example": "female",
            "in": "query",
            "name": "filters[people][gender]",
            "schema": {
              "enum": [
                "male",
                "female"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by ethnicity of the people",
            "example": "black",
            "in": "query",
            "name": "filters[people][ethnicity]",
            "schema": {
              "enum": [
                "south-asian",
                "middle-eastern",
                "east-asian",
                "black",
                "hispanic",
                "indian",
                "white",
                "multiracial"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters[choice]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filters[period]",
            "schema": {
              "enum": [
                "last-month",
                "last-quarter",
                "last-semester",
                "last-year"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters[color]",
            "schema": {
              "enum": [
                "black",
                "blue",
                "gray",
                "green",
                "orange",
                "red",
                "white",
                "yellow",
                "magenta",
                "purple",
                "cyan",
                "fuchsia",
                "pink"
              ],
              "type": "string"
            }
          },
          {
            "description": "Author ID",
            "in": "query",
            "name": "filters[author]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "Exclude AI-generated images",
            "in": "query",
            "name": "filters[ai-generated][excluded]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "Only AI-generated images",
            "in": "query",
            "name": "filters[ai-generated][only]",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "description": "File type for vectors",
            "in": "query",
            "name": "filters[vector][type]",
            "schema": {
              "enum": [
                "jpg",
                "ai",
                "eps",
                "svg"
              ],
              "type": "string"
            }
          },
          {
            "description": "Style type for vectors, ignored if content_type exists and it is not vector",
            "example": "3d",
            "in": "query",
            "name": "filters[vector][style]",
            "schema": {
              "enum": [
                "watercolor",
                "flat",
                "cartoon",
                "geometric",
                "gradient",
                "isometric",
                "3d",
                "hand-drawn"
              ],
              "type": "string"
            }
          },
          {
            "description": "File type for psd",
            "in": "query",
            "name": "filters[psd][type]",
            "schema": {
              "enum": [
                "jpg",
                "psd"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by list of ids. This filter is incompatible with any other filters. In case of using this filter, the rest of filters will be ignored.",
            "example": "1,2,3,4,5",
            "in": "query",
            "name": "filters[ids]",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example-0": {
                    "$ref": "#/components/examples/200-full-list-pagination"
                  },
                  "example-1": {
                    "$ref": "#/components/examples/200-empty-list-pagination"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_resources_get_200_response"
                }
              }
            },
            "description": "Ok Response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get all resources",
        "tags": [
          "Resources"
        ]
      }
    },
    "/v1/resource": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "description": "Specifies the search query language using the ISO 639-1 (2-letter\nlanguage code) and the ISO 3166-1 (2-letter country code) for language variants.\nThe API will use \"en-US\" as a default language for processing if a code is not\nprovided, or does not exist.\n",
            "example": "en-US",
            "in": "header",
            "name": "Accept-Language",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "description": "The id of the collection",
              "example": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Locale domain",
            "example": "en",
            "in": "query",
            "name": "locale",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Guarantee that the received resource is a Photo. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][photo]",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "description": "Guarantee that the received resource is a PSD. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][psd]",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "description": "Guarantee that the received resource is a Vector. If not, we will received a 404.",
            "in": "query",
            "name": "filters[content_type][vector]",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_resource_get_200_response"
                }
              }
            },
            "description": "OK Response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "412": {
            "content": {
              "application/json": {
                "examples": {
                  "generic": {
                    "summary": "Generic message for 412 errors",
                    "value": {
                      "message": "Precondition failed"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Precondition Failed"
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "generic": {
                    "summary": "Generic message for 422 errors",
                    "value": {
                      "message": "Unprocessable entity"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "DEPRECATED Get the detail of a resource (psd, vector, photo or icon) use /resources/{resource-id} instead",
        "tags": [
          "Resources"
        ]
      }
    },
    "/v1/resources/{resource-id}": {
      "get": {
        "parameters": [
          {
            "description": "Photo, video or PSD resource ID",
            "example": 30955,
            "in": "path",
            "name": "resource-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the search query language using the ISO 639-1 (2-letter\nlanguage code) and the ISO 3166-1 (2-letter country code) for language variants.\nThe API will use \"en-US\" as a default language for processing if a code is not\nprovided, or does not exist.\n",
            "example": "en-US",
            "in": "header",
            "name": "Accept-Language",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "detail_photo": {
                    "$ref": "#/components/examples/200-detail-photo-b2b"
                  },
                  "detail_vector": {
                    "$ref": "#/components/examples/200-detail-vector-b2b"
                  },
                  "detail_psd": {
                    "$ref": "#/components/examples/200-detail-psd-b2b"
                  },
                  "detail_ai": {
                    "$ref": "#/components/examples/200-detail-ai-b2b"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_resources__resource_id__get_200_response"
                }
              }
            },
            "description": "OK Response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Get the detail of a resource (psd, vector or photo)",
        "tags": [
          "Resources"
        ]
      }
    },
    "/v1/resources/{resource-id}/download": {
      "get": {
        "parameters": [
          {
            "description": "Photo, video or PSD resource ID",
            "example": 30955,
            "in": "path",
            "name": "resource-id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Specifies the search query language using the ISO 639-1 (2-letter\nlanguage code) and the ISO 3166-1 (2-letter country code) for language variants.\nThe API will use \"en-US\" as a default language for processing if a code is not\nprovided, or does not exist.\n",
            "example": "en-US",
            "in": "header",
            "name": "Accept-Language",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resizes the photo to a specified size while maintaining aspect ratio. Accepts a pixel value (100px to 2000px) or \nkeywords small, medium, large, original corresponding to standard website sizes. The size depends on the image \norientation, the longest side of the image will be resized to the specified size. If not specified, the highest \nresolution is provided. Applicable only to photos.\n",
            "example": "2000px",
            "in": "query",
            "name": "image_size",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/_v1_resources__resource_id__download_get_image_size_parameter"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "download_vector_or_psd": {
                    "$ref": "#/components/examples/200-download-vector-or-psd"
                  },
                  "download_photo": {
                    "$ref": "#/components/examples/200-download-photo"
                  },
                  "download_ai": {
                    "$ref": "#/components/examples/200-download-ai-resource"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_resources__resource_id__download_get_200_response"
                }
              }
            },
            "description": "OK Response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "incorrect_image_size": {
                    "$ref": "#/components/examples/400-incorrect-image-size-b2b"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "generic": {
                    "summary": "Generic message for 429 errors",
                    "value": {
                      "message": "Too many requests"
                    }
                  },
                  "download_limit_reached": {
                    "summary": "The download limits has been reached.",
                    "value": {
                      "message": "The user can't download more items because the download limits has been reached."
                    }
                  },
                  "edit_limit_reached": {
                    "summary": "Free user icon edit limits has been reached.",
                    "value": {
                      "message": "Limit for free users reached."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_503_response"
                }
              }
            },
            "description": "Service Unavailable"
          }
        },
        "summary": "Download a resource",
        "tags": [
          "Resources"
        ]
      }
    },
    "/v1/resources/{resource-id}/download/{resource-format}": {
      "get": {
        "parameters": [
          {
            "description": "Photo, video or PSD resource ID",
            "example": 30955,
            "in": "path",
            "name": "resource-id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Resource format",
            "in": "path",
            "name": "resource-format",
            "required": true,
            "schema": {
              "enum": [
                "psd",
                "ai",
                "eps",
                "atn",
                "fonts",
                "resources",
                "png",
                "jpg",
                "3d-render",
                "svg",
                "mockup"
              ],
              "example": "svg",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/download_list"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
                    "summary": "API key is not provided",
                    "value": {
                      "message": "Missing API key"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "examples": {
                  "user_not_authorized": {
                    "summary": "User has not privileges to access some resource",
                    "value": {
                      "message": "User is not authorized to access this resource"
                    }
                  },
                  "user_not_owner": {
                    "summary": "Collection author id is different from current user's id",
                    "value": {
                      "message": "User is not owner of requested collection"
                    }
                  },
                  "item_is_premium": {
                    "summary": "The user cannot download this item because it is premium",
                    "value": {
                      "message": "The user cannot download this item because it is premium"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "ai_resource_not_found": {
                    "summary": "AI resource with provided id does not exist",
                    "value": {
                      "message": "AI resource not found"
                    }
                  },
                  "collection_not_found": {
                    "summary": "Collection with provided id does not exist",
                    "value": {
                      "message": "Collection not found"
                    }
                  },
                  "resource_not_found": {
                    "summary": "Resource with provided id does not exist",
                    "value": {
                      "message": "Resource not found"
                    }
                  },
                  "user_not_found": {
                    "summary": "User with provided id does not exist",
                    "value": {
                      "message": "User not found"
                    }
                  },
                  "video_not_found": {
                    "summary": "Video with provided id does not exist",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "video_assets_not_found": {
                    "summary": "Video with provided id has not associated assets",
                    "value": {
                      "message": "Video not found"
                    }
                  },
                  "icon_not_found": {
                    "summary": "Icon with provided id does not exist",
                    "value": {
                      "message": "Icon not found"
                    }
                  },
                  "author_not_found": {
                    "summary": "Author with provided id does not exist",
                    "value": {
                      "message": "Author not found"
                    }
                  },
                  "developer_not_found": {
                    "summary": "Developer with provided email does not exist",
                    "value": {
                      "message": "Developer not found"
                    }
                  },
                  "country_not_found": {
                    "summary": "Country with provided code does not exist",
                    "value": {
                      "message": "Country not found"
                    }
                  },
                  "generic_not_found": {
                    "summary": "Not Found",
                    "value": {
                      "message": "Not found"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "examples": {
                  "generic": {
                    "summary": "Generic message for 429 errors",
                    "value": {
                      "message": "Too many requests"
                    }
                  },
                  "download_limit_reached": {
                    "summary": "The download limits has been reached.",
                    "value": {
                      "message": "The user can't download more items because the download limits has been reached."
                    }
                  },
                  "edit_limit_reached": {
                    "summary": "Free user icon edit limits has been reached.",
                    "value": {
                      "message": "Limit for free users reached."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_500_response"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Download resource by id and format",
        "tags": [
          "Resources"
        ]
      }
    },
    "/v1/tags": {
      "get": {
        "description": "You can get all tags which starts by a letter using param char. You can also sort the tags by relevance or random using param order. Additionally, you can paginate the results.",
        "parameters": [
          {
            "description": "Limit results per page. It must be greater than 0.",
            "example": 100,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Letter from a-zA-Z",
            "example": "A",
            "in": "query",
            "name": "char",
            "required": false,
            "schema": {
              "pattern": "^[a-zA-Z]$",
              "type": "string"
            }
          },
          {
            "description": "Locale domain",
            "example": "en",
            "in": "query",
            "name": "locale",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number. It must be greater than 0.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Define order of results.",
            "example": "relevance",
            "in": "query",
            "name": "order",
            "required": false,
            "schema": {
              "default": "relevance",
              "enum": [
                "relevance",
                "random"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "full-list-tags": {
                    "$ref": "#/components/examples/200-tags-full-list"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_tags_get_200_response"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Parameter 'page' must be greater than 0"
                    }
                  },
                  "invalid_query": {
                    "summary": "Parameter 'query' is not valid",
                    "value": {
                      "message": "Parameter 'query' must not be empty"
                    }
                  },
                  "invalid_filter": {
                    "summary": "Parameter 'filter' is not valid",
                    "value": {
                      "message": "Parameter 'filter' is not valid"
                    }
                  },
                  "generic_bad_request": {
                    "summary": "Bad Request",
                    "value": {
                      "message": "Parameter ':attribute' is not valid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response"
                }
              },
              "application/problem+json": {
                "examples": {
                  "invalid_page": {
                    "summary": "Parameter 'page' is not valid",
                    "value": {
                      "message": "Your request parameters didn't validate.",
                      "invalid_params": [
                        {
                          "name": "page",
                          "reason": "Parameter 'page' must be greater than 0"
                        },
                        {
                          "name": "per_page",
                          "reason": "Parameter 'per_page' must be greater than 0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/_v1_ai_text_to_image_post_400_response_1"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "invalid_api_key": {
                    "summary": "API key is not valid",
                    "value": {
                      "message": "Invalid API key"
                    }
                  },
                  "missing_api_key": {
[...]
